.overflow-box{
    height: 100vh;
    width: 30%;
    background-color: #eee;
    overflow-y: scroll;
}
.image-overflow{
    width: 20em;
    height: 30em;
    background: #eee;
    overflow: hidden;
}
.image-overflow img{
    width: 100%;
    height: 100%;
}